<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{fragments/layout :: layout (~{::body},'pets', #{title.pet.delete})}">

<body>

<h2 th:text="#{general.details}">Details</h2>
<div class="row">
    <div class="col-md-12">
        <table class="table">
            <thead>
            <tr>
                <td th:text="#{pet.id}"></td>
                <td th:text="#{pet.name}"></td>
                <td th:text="#{pet.birth_date}"></td>
                <td th:text="#{pet.type}"></td>
                <td th:text="#{owner.first_name}"></td>
                <td th:text="#{owner.last_name}"></td>
            </tr>
            </thead>
            <tbody>
            <tr th:object="${pet}">
                <td th:text="*{id}"></td>
                <td th:text="*{name}"></td>
                <td th:text="*{birthDate}"></td>
                <td th:text="*{type.name}"></td>
                <td th:text="*{owner.firstName}"></td>
                <td th:text="*{owner.lastName}"></td>
            </tr>
            <tr>
                <td colspan="2">
                    <form th:object="${pet}" class="form-horizontal" method="post">
                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                <input type="hidden" name="id" th:value="*{id}"/>
                                <button class="btn btn-default" type="submit"
                                        th:text="#{general.buttons.delete}"></button>
                            </div>
                        </div>
                    </form>
                </td>
            </tr>
            </tbody>
        </table>
        <div th:replace="~{fragments/navigation :: back(@{/owners/__${owner.id}__/pets})}"/>
    </div>
</div>

</body>

</html>