<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{fragments/layout :: layout (~{::body},'vets', #{title.vet.delete})}">

<body>

<h2 th:text="#{general.details}">Details</h2>
<div class="row">
    <div class="col-md-12">
        <table class="table table-striped">
            <thead>
            <tr>
                <td th:text="#{vet.id}"></td>
                <td th:text="#{vet.first_name}"></td>
                <td th:text="#{vet.last_name}"></td>
                <td th:text="#{general.address.address}"></td>
                <td th:text="#{general.address.city}"></td>
                <td th:text="#{general.address.country}"></td>
                <td th:text="#{general.address.postcode}"></td>
                <td th:text="#{general.contact.telephone}"></td>
                <td th:text="#{general.contact.mobilePhone}"></td>
                <td th:text="#{general.contact.email}"></td>
            </tr>
            </thead>
            <tbody>
            <tr th:object="${veterinarian}">
                <td th:text="*{id}"></td>
                <td th:text="*{firstName}"></td>
                <td th:text="*{lastName}"></td>
                <td th:text="*{address.address}"></td>
                <td th:text="*{address.city}"></td>
                <td th:text="*{address.country}"></td>
                <td th:text="*{address.postcode}"></td>
                <td th:text="*{contact.telephone}"></td>
                <td th:text="*{contact.mobilePhone}"></td>
                <td th:text="*{contact.emailAddress}"></td>
            </tr>
            <tr>
                <td colspan="2">
                    <form th:object="${veterinarian}" class="form-horizontal" method="post">
                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                <input type="hidden" name="id" th:value="*{id}"/>
                                <button class="btn btn-default" type="submit"
                                        th:text="#{general.buttons.delete}"></button>
                            </div>
                        </div>
                    </form>
                </td>
            </tr>
            </tbody>
        </table>
        <div th:replace="~{fragments/navigation :: back(@{/clinics/__${clinic.id}__/vets})}"/>
    </div>
</div>

</body>

</html>