<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{fragments/layout :: layout (~{::body},'clinics', #{title.clinic.list})}">

<body>

<h2 th:text="#{clinic.list}">List</h2>
<div class="row">
    <div class="col-md-12">
        <a th:href="@{/clinics/create}"><span th:text="#{general.create}"/></a>
        <table class="table table-striped">
            <thead>
            <tr>
                <td th:text="#{clinic.id}"></td>
                <td th:text="#{clinic.name}"></td>
                <td th:text="#{general.address.city}"></td>
                <td th:text="#{general.address.country}"></td>
                <td th:text="#{general.contact.telephone}"></td>
                <td th:text="#{general.contact.email}"></td>
                <td th:text="#{general.details}"></td>
                <td th:text="#{general.edit}"></td>
                <td th:text="#{general.delete}"></td>
                <td th:text="#{owner.list}"></td>
                <td th:text="#{vet.list}"></td>
            </tr>
            </thead>
            <tbody>
            <tr th:each="clinic : ${clinics}" th:object="${clinic}">
                <td th:text="*{id}"></td>
                <td th:text="*{name}"></td>
                <td th:text="*{address.city}"></td>
                <td th:text="*{address.country}"></td>
                <td th:text="*{contact.telephone}"></td>
                <td th:text="*{contact.emailAddress}"></td>
                <td><a th:href="@{/clinics/__${clinic.id}__/details}"><span th:text="#{general.details}"/></a></td>
                <td><a th:href="@{/clinics/__${clinic.id}__/edit}"><span th:text="#{general.edit}"/></a></td>
                <td><a th:href="@{/clinics/__${clinic.id}__/delete}"><span th:text="#{general.delete}"/></a></td>
                <td><a th:href="@{/clinics/__${clinic.id}__/owners}"><span th:text="#{owner.list}"/></a></td>
                <td><a th:href="@{/clinics/__${clinic.id}__/vets}"><span th:text="#{vet.list}"/></a></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

</body>

</html>